<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049677714159-u5of04t3cfcjom7e1ukgoujr8pjvnltd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049677714159-u5of04t3cfcjom7e1ukgoujr8pjvnltd</string>
	<key>API_KEY</key>
	<string>AIzaSyCB65dZkn11Pf_fF2NgOEpViYEqNfvO0u0</string>
	<key>GCM_SENDER_ID</key>
	<string>1049677714159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.phuongtrinhezs</string>
	<key>PROJECT_ID</key>
	<string>phuong-trinh-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>phuong-trinh-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049677714159:ios:a8e5f5ee97c2608fa5811a</string>
	<key>DATABASE_URL</key>
	<string>https://phuong-trinh-beauty-default-rtdb.firebaseio.com</string>
</dict>
</plist>